<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="col-lg-3">
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li>
                        <a routerLink="/profileInfo" data-scroll>
                            <i class="fa fa-user solo" >Profile Info</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/change" data-scroll>
                            <i class="fa fa-key solo">Change Password</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/edit" data-scroll>
                            <i class="fa fa-id-card-o solo">Edit Profile</i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
      </div>