<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!--THE WEB.XML FILE IS USED BY TOMCAT TO DEPLOY YOUR APPLICATION
        another name for the web.xml is "deployment descriptor"
    -->
    <display-name>HelloSpringMVC</display-name>
    <!--welcome file defines your landing page-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- This context load listener will tie the lifecycle of spring to the lifecycle
    of tomcat itself. In short, it's an event listener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!---->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <!--this is spring's already created servlet...it'll represent our front controller-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
