<div class="container">
  <div class="row">
    <div class="col-xl-3"><app-side-bar></app-side-bar></div>
    <div class="col-xl-6">
      <br /><br />
      <h2 class="middle">Reset Password</h2>
      <form (ngSubmit)="onSubmmit()">
        <div class="form-group">
          <label for="username1">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]='username'
            aria-describedby="usernameHelp"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input
          [(ngModel)]='oldPassword'
            type="password"
            class="form-control"
            name="oldPassword"
            placeholder="Type Password"
          />
        </div>
        <div class="form-group">
          <label for="newpass">Type New Password</label>
          <input
            type="password"
            [(ngModel)]='password'
            class="form-control"
            name="newpass"
            placeholder="Type New Password"
          />
        </div>

        <div class="form-group">
          <label for="renew">Re-Type New Password</label>
          <input
            type="password"
            class="form-control"
            name="renew"

            placeholder="Re-Type New Password"
          />
        </div>

        <button type="submit" class="btn btn-dark">
          Submit
        </button>
      </form>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>
